@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* utilities */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.button {
  display: inline-block;
  background-color: #e02c6d;
  padding: 10px 24px;
}
.button .fa-arrow-right {
  margin-left: 8px;
}
h2 {
  font-size: 28px;
  font-weight: 700;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
/* header */
header {
  position: relative;
  background: #2d25a0;
  padding: 10px 0px 86px 0px;
  margin-bottom: 70px;
}

.anim-box {
  position: fixed;
  left: -150px;
  top: 0;
}
.anim-box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
header:hover .anim-box {
  animation: ball 2s ease-in 1 forwards;
}
@keyframes ball {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  25% {
    left: 25%;
    top: 550px;
    transform: rotate(270deg);
  }
  50% {
    left: 55%;
    top: 300px;
    transform: rotate(540deg);
  }
  75% {
    left: 80%;
    top: 550px;
    transform: rotate(720deg);
  }
  100% {
    left: 100%;
    top: 450px;
    transform: rotate(900deg);
  }
}
/* navbar */
nav .fa-bars {
  display: none;
}
nav {
  margin: 32px 0px 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul li a {
  padding: 5px 10px;
}
li {
  margin-right: 26px;
}
ul li a:hover {
  background-color: #e02c6d;
}
#nav-button a {
  background: #e02c6d;
  padding: 10px 24px;
}
/* banner section */

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  flex-basis: 35%;
  color: #fff;
}
.banner-text h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
}

#banner .banner-image img {
  height: 439px;
  width: 556px;
}

/* player-info */
#players-info {
  margin-bottom: 165px;
}
#players {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  column-gap: 30px;
  row-gap: 27px;
  justify-content: center;
}
.player {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img {
  height: 256px;
  width: 300px;
}

.player-info {
  margin: 16px 0px 33px;
}

.player-info p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* highlight-section */

#highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}
.highlight-description {
  margin-right: 66px;
  flex-basis: 30%;
}

.highlight-description p {
  margin: 8px 0px 24px;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}
.highlight-image {
  height: 427px;
  width: 567px;
}
.highlight-image img {
  height: 100%;
  width: 100%;
}
/* latest-news */
#latest-newses {
  text-align: center;
  margin-bottom: 160px;
}
#latest-newses h1 {
  color: #2d25a0;
  margin-bottom: 50px;
}
#newses {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.news {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.news-image img {
  height: 256px;
  width: 300px;
}

.news-description {
  margin: 20px 0px;
}

/* newslaters */
#newslaters {
  margin: 0px auto 160px;
  padding: 35px;
  width: 50%;
  text-align: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
#newslaters h2 {
  color: #2d25a0;
  margin-bottom: 20px;
}
#newslaters form input {
  padding: 5px 15px;
  width: 30%;
  margin-right: 20px;
}

#newslaters form button {
  background: #e02c6d;
  color: #fff;
  padding: 5px 15px;
  border: none;
}
/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 50px;
}

footer img {
  height: 110px;
  width: 484px;
}
.fab {
  color: #c6c6c7;
  margin: 20px 14px;
}

/* media-queries */

@media (max-width: 688px) {
  /* navbar */
  nav .fa-bars {
    display: block;
    color: #fff;
    font-weight: 700;
  }
  ul {
    display: none;
  }
  /* banner */

  #banner {
    flex-direction: column;
    padding: 20px;
  }
  .banner-text {
    margin: 0px 0px 50px;
  }
  .banner-text h1 {
    font-size: 36px;
    line-height: normal;
  }
  #banner .banner-image img {
    height: 260px;
    width: 330px;
    padding-left: 0;
  }

  /* player-section */
  #players-info {
    margin-bottom: 55px;
  }
  #players {
    grid-template-columns: 330px;
    column-gap: 0px;
  }
  /* highlight-section */
  #highlights {
    flex-direction: column;
    padding: 0px 30px;
    margin-bottom: 55px;
  }
  .highlight-description {
    margin: 0px 0px 29px;
  }
  .highlight-description h1 {
    font-size: 30px;
  }
  .highlight-image {
    height: 248px;
    width: 350px;
  }
  /* news-section */
  #latest-newses {
    margin-bottom: 55px;
  }
  #newses {
    grid-template-columns: 330px;
    justify-content: center;
    row-gap: 30px;
    column-gap: 0px;
  }

  /* newslater */
  #newslaters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-bottom: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #newslaters form input {
    width: 99%;
    margin: 0px 0px 20px;
  }

  /* footer-section */
  footer img {
    width: 90%;
  }
}
